@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Goblin+One&display=swap');

:root{
    --cor0:#FFE134 ;
    --cor1:#FFD902 ;
    --cor2:#33CA7F ;
    --cor3:#52B2CF ;
    --cor4:#08A045 ;
    --cor5:#023C40 ;

    --fontepadrao: Arial,Helvetica,Verdana, sans-serif;
    --fontetitulo: "Arbutus", "Goblin One", serif;
    --fonteArizona: "Rock Salt",cursive;
}
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

nav#menu{
    flex-flow: row nowrap;
}

li{
    list-style: none;
}

section#conteudo{
    background-color: bisque;
    width: 350px;
}
h1{
    text-align: center;
}

footer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 100vw;
    height: 50px;
    background-color: var(--cor5);
    color: var(--cor0);    
}
footer > p{
    font-family: var(--fontepadrao);
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 5px;
}
.img_link{
    padding: 0px 5px 0px 5px;
    width: 25px;
    height: 25px;
}