@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Goblin+One&display=swap');

:root{
    --cor0:#FFE134 ;
    --cor1:#FFD902 ;
    --cor2:#33CA7F ;
    --cor3:#52B2CF ;
    --cor4:#08A045 ;
    --cor5:#023C40 ;

    --fontepadrao: Arial,Helvetica,Verdana, sans-serif;
    --fontetitulo: "Arbutus", "Goblin One", serif;
}
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.carrossel-container{
    max-width: 600px; 

    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;

    margin-top: 30px; 
    margin-bottom: 30px;
}
.carrossel-itens{
    max-width: 400px;
    display: flex; 
    overflow-x: scroll; 
    overflow-y: hidden; 
    
    /* === Scroll Snap === */
    scroll-snap-type: x mandatory; /* Habilita o snap no eixo X, obrigatório */
    scroll-behavior: smooth; /* Torna a rolagem suave (para navegação via teclado/JS) */
    
    padding-bottom: 10px; /* Adiciona um espaço para não 'cortar' o foco */
    /* Você pode remover a barra de rolagem horizontal com webkit-scrollbar se desejar */
}
.carrossel-itens::-webkit-scrollbar {
    display: none;
}

.item-carrossel{
    min-width: 320px; 
    height: 180px; 
    margin-right: 10px; 
    scroll-snap-align: start;
    flex-shrink: 0; 
    background-color: #333;
    object-fit: cover;
    display: block;
    /* ...outras estilos como bordas, transições, etc. */
}
nav#menu{
    flex-flow: row nowrap;
}

li{
    list-style: none;
}

section#conteudo{
    background-color: bisque;
    width: 350px;
}
h1{
    text-align: center;
}

footer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 100vw;
    height: 50px;
    background-color: var(--cor5);
    color: var(--cor0);    
}
footer > p{
    font-family: var(--fontepadrao);
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 5px;
}
.img_link{
    padding: 0px 5px 0px 5px;
    width: 25px;
    height: 25px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 102);
}